/* Pyodide */
.md-grid {
  max-width: 100%; /* Stretches to the full available width */
}

/* Verify button */
.verify-button {
  padding: 12px 50px;
  background: #113768;
  color: white;
  cursor: pointer;
  margin: 10px 0 10px 0;
}
.verify-button:hover {
  background: #1956a4;
}

/* Palette */
:root {
  /* Primary color (e.g., a specific shade of red) */
  --md-primary-fg-color: #113768;
  /* Accent color */
  --md-accent-fg-color: #113768;
  /* Background color for code blocks */
  --md-code-bg-color: #f0f0f0;
}

/* Title */
.md-header__topic:first-child{
  font-weight: normal;
  font-size: 13pt;
}

/* Logo */
.md-header__button.md-logo,
.md-nav--primary .md-nav__title .md-logo
{
  display: none;
}

/* Footer */
.md-footer {
  display: none;
}